{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartements{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBNB</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leurs biens à la location</p>
            <hr class="my-4">
            <p>Vous êtes voyageur? Vous voulez voir où vous pourrez loger pour vore prochain déplacement?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos appartements stars</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://picsum.photos/id/45/1000/400"
                         alt="image de l'appartement"
                         style="heigh: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, debitis delectus earum illum maiores modi nam nulla sed suscipit velit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://picsum.photos/id/75/1000/400"
                         alt="image de l'appartement"
                         style="heigh: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, debitis delectus earum illum maiores modi nam nulla sed suscipit velit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://picsum.photos/id/143/1000/400"
                         alt="image de l'appartement"
                         style="heigh: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, debitis delectus earum illum maiores modi nam nulla sed suscipit velit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Théo Delas</h4>
                        
                        <hr>
                        
                        <div class="card-text">
                            <img src="https://picsum.photos/id/12/64/64" alt="Avatar de Théo" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, molestiae.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Théo Delas</h4>

                        <hr>

                        <div class="card-text">
                            <img src="https://picsum.photos/id/12/64/64" alt="Avatar de Théo" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, molestiae.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
